:root {
  --dark-shade: #551100;
  --hover: #cc9988;
  --light-shade: #996655;
  --border-text: #000000;
  --player-1: #aaf;
  --player-2: #faa;
}

*,
h1,
h2,
h3,
h4 {
  font-family: "Comfortaa", cursive;
}

body {
  background-color: var(--light-shade);
}

.App {
  text-align: center;
  justify-content: center;
}

a {
  color: black;
}

.menu-button:hover {
  background-color: var(--hover);
}
