:root {
  --dark-shade: #510;
  --hover: #c98;
  --light-shade: #965;
  --border-text: #000;
  --player-1: #aaf;
  --player-2: #faa;
}

* {
  box-sizing: border-box;
}

*,
h1,
h2,
h3,
h4 {
  font-family: "Comfortaa", cursive;
}

body {
  background-color: var(--light-shade);
}

.App {
  text-align: center;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

button:hover,
a:hover {
  background-color: var(--hover);
}
