:root{
  --dark-shade: #551100;
  --hover: #CC9988;
  --light-shade: #996655;
  --border-text: #000000
}

* {
  font-family: 'Comfortaa', cursive;
}

body{
  background-color: var(--light-shade);
}

.App {
  text-align: center;
  justify-content: center;

}

a{
  color: black;
}

.menu-button:hover {
  background-color: var(--hover);
}