.grid-cell {
  padding: 0px;
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
}

.grid-cell-size-3{
  font-size: 2.25rem;
  width: 5rem;
  height: 5rem;
}

.grid-cell-size-4{
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
}

.grid-cell > input {
  width: 100%;
  height: 100%;
  text-align: center;
}

.cell-hints {
  display: flex;
  flex-direction: row;
}

.hints-row {
  display: flex;
  flex-direction: row;
}

.grid-cell {
  background-color: white;
  font-weight: bold;
}

.hint-size-3 {
  width: 33%;
  font-size: 16px;
}

.hint-size-4 {
  width: 25%;
  font-size: 10px;
}

.cell-value {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.grid-cell-size-3 > .cell-value{
  line-height: 5rem;
}

.grid-cell-size-4 > .cell-value{
  line-height: 4rem;
}

.player-1 {
  background-color: #FAA;
}

.player-2 {
  background-color: #AAF;
}