.menu-button {
  background-color: var(--light-shade);
  border: 5px var(--border-text) solid;
  border-radius: 10px;
  color: var(--border-text);
  display: block;
  margin: 25px auto;
  padding: 10px 10px 6px 10px;
  font-size: 20px;
  width: 33%;
}
