.grid-cell {
  display: block;
  background-color: white;
  border: 1px solid #666;
  box-sizing: border-box;
}

.grid-cell > .error-dot {
  height: 0;
  width: 0;
}

.grid-cell.top {
  border-top: 3px solid black;
}

.grid-cell.right {
  border-right: 3px solid black;
}

.grid-cell.bottom {
  border-bottom: 3px solid black;
}

.grid-cell.left {
  border-left: 3px solid black;
}

.error-dot > * {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: red;
}

.cell-size-3 {
  width: 11.11%;
  height: 11.11%;
}

.cell-size-3 {
  width: 11.11%;
  height: 11.11%;
}

.cell-size-4 {
  width: 6.25%;
  height: 6.25%;
}

.grid-cell > * {
  width: 100%;
  height: 100%;
}

.player-1 {
  background-color: var(--player-1);
}

.player-2 {
  background-color: var(--player-2);
}

.input-cell {
  font-size: 2rem;
  text-align: center;
  background-color: transparent;
  border: none;
}

/* .cell-error {
  border-right: 5px solid red;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
